* {
  background-color: black;
}

.Home {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.Home-about {
  list-style: none;
  display: flex;
}

.Home-about h2 {
  color: aliceblue;
  font-size: 56px;
  max-width: 130%;
  margin-top: 10%;
  margin-left: 8%;
}

.Home-about p {
  margin-top: 10%;
  color: aliceblue;
  font-size: 20px;
  margin-left: 8%;
}

.Home-about img {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
  min-width: 60%;
  margin-right: 80px;
}
