*{
  background-color: black;
}
.navbar {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px 10px 10px;
    margin-top: 1%;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    padding: 10px;
    cursor: pointer;
    margin-left: 120px;
    padding: 15px 50px 15px 50px;
  }
  
  .navbar-item:hover {
    background-color: #2913cd;
    border-radius: 20px;
  }
  
 